@media (min-width: 1400px) and (max-width: 1599.99px) {}



@media (min-width: 992px) and (max-width: 1199.99px) {}



@media (min-width: 768px) and (max-width: 991.99px) {}

@media (min-width: 576px) and (max-width: 767.99px) {
    .navbar-toggler .close {
        display: none;
    }

    button.navbar-toggler.show {
        background: var(--colorRed);
        color: var(--colorWhite);
    }

    button.navbar-toggler.show .bar {
        display: none;
    }

    button.navbar-toggler.show .close {
        display: block;
        color: var(--colorWhite);
    }

    .main_menu .navbar-brand {
        margin: 0 15px;
        width: 100px;
        padding-right: 15px;
    }

    .menu_right a {
        margin-left: 15px;
    }

    .main_menu .navbar-brand {
        height: 19px;
    }

    .main_menu {
        height: 70px;
    }

    .navbar-collapse {
        background: #fff;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }

    .main_menu .nav-item:hover .droap_menu {
        z-index: 999;
    }

    .main_menu .navbar-nav {
        gap: 13px;
        line-height: 25px;
        padding-left: 20px;
        margin-top: 20px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .navbar-toggler .bar {}

    .navbar-toggler .close {
        display: none;
    }

    button.navbar-toggler.show {
        background: red;
        color: #fff;
    }

    button.navbar-toggler.show .bar {
        display: none;
    }

    button.navbar-toggler.show .close {
        display: block;
        color: var(--colorWhite);
    }

    .navbar-toggler {
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        margin-right: 13px;
        background: #fff;
        color: #000;
        border-radius: 0;
        outline: none !important;
        box-shadow: none !important;
        transition: all linear .3s;
        -webkit-transition: all linear .3s;
        -moz-transition: all linear .3s;
        -ms-transition: all linear .3s;
        -o-transition: all linear .3s;
    }


    .banner .banner_left h1 {
        margin-top: 110px;
        font-size: 45px;
        width: 100%;
    }

    .banner_left_text .img {
        width: 100px;
        height: 100px;
    }

    .banner_left_text p {
        font-size: 13px;
        margin-left: 20px;
    }

    .banner_img {
        margin-top: 50px;
        height: auto;
    }

    .banner_right_text {
        position: initial;
        width: 360px;
        margin-top: 30px;
    }

    .banner_right_text h3 {
        margin: 10px 0 20px 0;
    }

    .section_heading h1 {
        font-size: 35px;
    }

    .coach_contant form input {
        width: 60%;
    }

    .coach_contant .coach_massege {
        background: #F2F3F3;
        padding: 20px 20px 100px 20px;
    }

    .coach_contant {
        margin-bottom: 30px;
    }

    .right_action h2,
    .right_Analysis h2 {
        font-size: 20px;
    }


    .right_Analysis .confidance_lavel p {
        font-size: 14px;
    }

    .right_Analysis .confidance_lavel .comment {
        font-size: 14px;
        line-height: normal;
    }

    .right_action ul li p {
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
    }

    .our_course_view_btn {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .single_course {
        padding: 20px;
        margin-bottom: 30px;
    }

    .right_Analysis .confidance_lavel {
        padding: 10px;
    }

    .right_action,
    .right_Analysis {
        padding: 15px;
    }

    .live_right .right_icon {
        top: 90px;
        left: -92px;
    }

    .single_course ul li p {
        font-size: 14px;
        font-weight: 400;
    }

    .single_course ul li:last-child a {
        font-size: 18px;
    }

    .single_course .comment {
        font-size: 14px;
        line-height: normal;
    }

    .faq_heading h4 {
        margin-bottom: 30px;
    }


    .faq_heading h1 {
        font-size: 30px;
    }

    .faq_accordion .accordion-button {
        font-size: 14px;
    }

    .testimonial_author,
    .testimonial_comment {
        margin: 10px;
    }

    .testimonial_comment h3 {
        font-size: 14px;
        font-weight: 400;
    }

    .testimonial_author .text a {
        font-size: 14px;
    }

    .testimonial_author .text p {
        font-size: 14px;
        font-weight: 400;
    }

    .nextArrow,
    .prevArrow {
        top: 130px;
    }

    .subscrive_box h3 {
        font-size: 25px;
    }

    .subscrive_box p {
        font-size: 15px;
        margin-bottom: 30px;
    }

}







@media (max-width: 575.99px) {
    .navbar-toggler .close {
        display: none;
    }

    button.navbar-toggler.show {
        background: var(--colorRed);
        color: var(--colorWhite);
    }

    button.navbar-toggler.show .bar {
        display: none;
    }

    button.navbar-toggler.show .close {
        display: block;
        color: var(--colorWhite);
    }

    .main_menu .navbar-brand {
        margin: 0 15px;
        width: 100px;
        padding-right: 15px;
    }

    .menu_right a {
        margin-left: 15px;
    }

    .main_menu .navbar-brand {
        height: 19px;
    }

    .main_menu {
        height: 70px;
    }

    .navbar-collapse {
        background: #fff;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }

    .main_menu .nav-item:hover .droap_menu {
        z-index: 999;
    }

    .main_menu .navbar-nav {
        gap: 13px;
        line-height: 25px;
        padding-left: 20px;
        margin-top: 20px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .navbar-toggler .bar {}

    .navbar-toggler .close {
        display: none;
    }

    button.navbar-toggler.show {
        background: red;
        color: #fff;
    }

    button.navbar-toggler.show .bar {
        display: none;
    }

    button.navbar-toggler.show .close {
        display: block;
        color: var(--colorWhite);
    }

    .navbar-toggler {
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        margin-right: 13px;
        background: #fff;
        color: #000;
        border-radius: 0;
        outline: none !important;
        box-shadow: none !important;
        transition: all linear .3s;
        -webkit-transition: all linear .3s;
        -moz-transition: all linear .3s;
        -ms-transition: all linear .3s;
        -o-transition: all linear .3s;
    }


    .banner .banner_left h1 {
        margin-top: 110px;
        font-size: 45px;
        width: 100%;
    }

    .banner_left_text .img {
        width: 100px;
        height: 100px;
    }

    .banner_left_text p {
        font-size: 13px;
        margin-left: 20px;
    }

    .banner_img {
        margin-top: 50px;
        height: auto;
    }

    .banner_right_text {
        position: initial;
        width: 360px;
        margin-top: 30px;
    }

    .banner_right_text h3 {
        margin: 10px 0 20px 0;
    }

    .section_heading h1 {
        font-size: 35px;
    }

    .coach_contant form input {
        width: 60%;
    }

    .coach_contant .coach_massege {
        background: #F2F3F3;
        padding: 20px 20px 100px 20px;
    }

    .coach_contant {
        margin-bottom: 30px;
    }

    .right_action h2,
    .right_Analysis h2 {
        font-size: 20px;
    }


    .right_Analysis .confidance_lavel p {
        font-size: 14px;
    }

    .right_Analysis .confidance_lavel .comment {
        font-size: 14px;
        line-height: normal;
    }

    .right_action ul li p {
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
    }

    .our_course_view_btn {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .single_course {
        padding: 20px;
        margin-bottom: 30px;
    }

    .right_Analysis .confidance_lavel {
        padding: 10px;
    }

    .right_action,
    .right_Analysis {
        padding: 15px;
    }

    .live_right .right_icon {
        top: 90px;
        left: -92px;
    }

    .single_course ul li p {
        font-size: 14px;
        font-weight: 400;
    }

    .single_course ul li:last-child a {
        font-size: 18px;
    }

    .single_course .comment {
        font-size: 14px;
        line-height: normal;
    }

    .faq_heading h4 {
        margin-bottom: 30px;
    }


    .faq_heading h1 {
        font-size: 30px;
    }

    .faq_accordion .accordion-button {
        font-size: 14px;
    }

    .testimonial_author,
    .testimonial_comment {
        margin: 10px;
    }

    .testimonial_comment h3 {
        font-size: 14px;
        font-weight: 400;
    }

    .testimonial_author .text a {
        font-size: 14px;
    }

    .testimonial_author .text p {
        font-size: 14px;
        font-weight: 400;
    }

    .nextArrow,
    .prevArrow {
        top: 130px;
    }

    .subscrive_box h3 {
        font-size: 25px;
    }

    .subscrive_box p {
        font-size: 15px;
        margin-bottom: 30px;
    }









}