/*===============================
    GLOBAL CSS START
===============================*/
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: all linear .3s;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: var(--headingFont);
    color: var(--colorBlack);
}

p,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    font-family: var(--paraFont);
    color: var(--paraColor);
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #E4E7E9;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
}

input::placeholder,
textarea::placeholder {
    color: #a6a6ac;
}

button {
    border: none;
    background: var(--colorSecondary);
}

:root {
    --colorPrimary: #FE6043;
    --colorSecondary: #5A5AF0;
    --colorWhite: #ffffff;
    --colorBlack: #1C212B;
    --paraColor: #617087;
    --lightColor: #EEF2F6;
    --headingFont: "Manrope", sans-serif;
    --paraFont: 'Open Sans', sans-serif;
    --Font2: "Plus Jakarta Sans", sans-serif;
    --Font3: "Questrial", sans-serif;
    --Font4: "Geist", sans-serif;
}


.common_btn {
    color: var(--colorWhite);
    background: var(--colorPrimary);
    font-family: var(--paraFont);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 32px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.common_btn i {
    margin-left: 5px;
}

.common_btn:hover {
    background: var(--colorSecondary);
}


/*===============================
    GLOBAL CSS END
===============================*/

/*===============================
    MENU START
===============================*/
.main_menu.menu_fix {
    left: 0;
    top: 0;
    animation: menu_animate 2s;
    -webkit-animation: menu_animate 2s;
    background: #fff;
    z-index: 999;
    border-bottom: 1px solid #ddd;
}

@keyframes menu_animate {
    from {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
}

.main_menu {
    position: fixed;
    top: 20px;
    width: 100%;
}

.main_menu .navbar-brand {
    margin: 0;
    padding: 0;
    width: 240px;
    height: 40px;
}

.main_menu .navbar-nav {
    gap: 35px;
    line-height: 30px;
    margin-left: 75px;
}

.main_menu .navbar-nav .nav-item {
    position: relative;
}

.main_menu .navbar-nav .nav-item .nav-link {
    color: #020407;
    font-family: var(--Font2);
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .navbar-nav .nav-item:hover .nav-link,
.main_menu .navbar-nav .nav-item .nav-link.active {
    color: #0bbeb4;
}

.menu_right a {
    color: #010205;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    border: 1px solid #010205;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.menu_right a:hover {
    color: #0bbeb4;
    border-color: #0bbeb4;
}

/*===============================
    MENU END
===============================*/



/*===============================
    BANNER START
===============================*/

.banner {
    width: 100%;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding-bottom: 100px;

}


.banner_right {
    position: relative;
}

.banner_img {
    margin-top: 170px;
    height: 630px;
}

.banner .banner_left h1 {
    margin-top: 170px;
    color: #111111;
    font-size: 80px;
    font-weight: 500;
    width: 70%;
    font-family: var(--headingFont);
    margin-bottom: 30px;
}

.banner_right_text {
    background: #fff;
    position: absolute;
    left: -140px;
    top: 395px;
    width: 420px;
    padding: 40px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
}

.banner_right_text h3 {
    color: #05131D;
    font-family: Manrope;
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    margin: 20px 0 40px 0;
}

.banner_right_text ul {
    justify-content: space-between;
}

.banner_right_text ul li {
    color: #00245F;
    font-family: Manrope;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner_right_text p {
    color: rgba(5, 19, 29, 0.70);
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 163%;
    /* 27.71px */
}

.banner_left_text .img {
    width: 200px;
    height: 200px;

}

.banner_left_text p {
    color: rgba(5, 19, 29, 0.70);
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    line-height: 163%;
    width: 50%;
    margin-left: 50px;
}

.banner_left_text .buttom {
    gap: 55px;
    margin-top: 90px;
}

.banner_left_text .buttom .icon {
    background: #fff;
    height: 100px;
    padding: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    margin-right: 20px;
}

.banner_left_text .buttom .text h2,
.banner_left_text .buttom .text h2 span {
    color: var(--colorBlack);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.banner_left_text .buttom .text p {
    width: 100%;
    margin: 0;
}

/*===============================
     BANNER END
===============================*/

.live_ai_area {

    background: linear-gradient(90deg, #103570 0%, #004FCE 100%);
    ;
    padding: 50px 0;
}

.section_heading {
    margin-bottom: 30px;
}

.section_heading h5 {
    color: #FCE38A;
    font-family: Questrial;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;
}

.section_heading h1 {
    color: #FFF;
    font-family: Questrial;
    font-size: 60px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.6px;
}

.coach_contant {
    background: #fff;
    padding: 20px 0px;
    border-radius: 5px;
}

.coach_contant_heading h2 {
    color: #1B1B1B;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.coach_contant .coach_massege {
    background: #F2F3F3;
    padding: 20px 20px 300px 20px;
    gap: 20px;
}

.coach_contant .coach_massege .icon {
    background: #D9D9D9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.coach_contant .coach_massege p {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    color: #181818;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    width: 85%;
}

.coach_contant ul {
    gap: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.coach_contant ul li {
    color: #002868;
    font-family: Geist;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    background: #D9D9D9;
    border-radius: 12px;
    padding: 4px;
    cursor: pointer;
}

.coach_contant form {
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}

.coach_contant form input {
    width: 80%;
    border-radius: 10px;
}

.coach_contant form button {
    padding: 12px 20px;
    border-radius: 8px;
    color: #FFF;
    font-family: Geist;
    font-size: 18px;
    font-weight: 500;
    background: #002868;
    transition: all linear .3s;
}

.coach_contant form button:hover {
    background: #0bbeb4;
}

.live_right {
    margin-left: 100px;
    position: relative;
}

.right_action,
.right_Analysis {
    background: #D9D9D9;
    padding: 23px;
    border-radius: 12px;
}

.right_action h2,
.right_Analysis h2 {
    color: #323232;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.right_Analysis .confidance_lavel {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
}

.right_Analysis .confidance_lavel .icon {
    color: #fff;
    background: #06B217;
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.right_Analysis .confidance_lavel p {
    display: inline-block;
    color: #171D25;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 132%;
    /* 23.76px */
}

.right_Analysis .confidance_lavel .icon_2 {
    display: inline-block;
}

.right_Analysis .confidance_lavel .comment {
    color: #909090;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 177.778% */
    margin-top: 10px;
}

.right_action {
    margin-top: 30px;
}

.right_action ul {
    gap: 20px;
}

.right_action ul li {
    background: #fff;
    width: 45%;
    padding: 12px;
    border-radius: 12px;
}

.right_action ul li .icon {
    display: block;
    width: 24px;
    height: 24px;
}

.right_action ul li p {
    color: #171D25;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 132%;
    /* 23.76px */
    margin-top: 10px;
}

.live_right .right_icon {
    top: 160px;
    left: -99px;
    position: absolute;
    content: "";
    background: #F2F3F3;
    text-align: center;
    padding: 25px;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.live_right .right_icon li a {
    display: block;
    width: 25px;
    height: 25px;
}

.live_right .right_icon li a:hover {
    filter: brightness(0) saturate(100%) invert(78%) sepia(51%) saturate(5944%) hue-rotate(133deg) brightness(94%) contrast(91%);
}


.our_courses_area {
    margin: 50px 0;
}

.our_course_view_btn {
    text-align: end;
    margin-top: 80px;
}

.our_course_view_btn a {
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    background: #002868;
    padding: 12px 20px;
    border-radius: 12px;
}

.our_course_view_btn a:hover {
    background: #0bbeb4;
}

.section_heading h2 {
    color: var(--Grey-15, #262626);
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 72px */
}

.section_heading p {
    color: var(--Grey-35, #59595A);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.single_course {
    background: #F0F0F0;
    padding: 50px;
    border-radius: 12px;
}

.single_course ul {
    gap: 10px;
    margin-top: 20px;
}

.single_course ul li p {
    color: #4C4C4D;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    padding: 4px 10px;
    border-radius: 8px;
}

.single_course ul li {}

.single_course ul li:last-child {
    margin-left: auto;
}

.single_course ul li:last-child a {
    color: var(--Grey-15, #262626);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.single_course ul li:last-child a:hover {
    color: #0bbeb4;
}

.single_course .title {
    color: var(--Grey-15, #262626);
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 20px 0;
}

.single_course .title:hover {
    color: #0bbeb4;
}

.single_course .comment {
    color: var(--Grey-30, #4C4C4D);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.single_course .get_now_btn {
    color: #FFF;
    text-align: center;
    font-family: "Be Vietnam Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    background: #002868;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 25px;
}

.single_course .get_now_btn:hover {
    background: #0bbeb4;
}

.single_course .img {
    overflow: hidden;
    border-radius: 12px;
}

.single_course .img img {
    transition: all linear .3s;
}

.single_course:hover .img img {
    transform: scale(1.05) rotate(2deg);
}